<div class="container-fluid">
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">All Notices</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="table_notices" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Date</th>
					<th>Manage</th>
        </tr>
        </thead>
        <tbody>
          <% for(j=0; j<notices.length; j++) { %>
            <tr>
              <td><a href="#"><%=notices[j].title%></a></td>
							<td><%=notices[j].content%></td>
							<td><%=notices[j].date%></td>
              <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editNoticeModal" onClick="viewNotice(<%=notices[j].id%>)" >Edit</button>&nbsp;&nbsp;<button type="button" onClick="deleteNotice(<%=notices[j].id%>)" class="btn btn-danger btn-sm">Delete</button></td>
            </tr>
          <% } %>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNoticeModal" >New Notice</button>
    </div>
  
  </div>
  
  <!-- /.card -->
</div>
<script>
  $(function () {
    $("#table_notices").DataTable();
  });
</script>

